



<!DOCTYPE html>
<!-- Created By CodingNepal -->

<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background:black;
}
.container{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}
.but{
  display:none;
}
.hid{

  display:none;
}
</style>



<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>addProduct</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
   </head>
   <body>
        
 
      
   <div class="container hid"  id="butsone">
        <div class="text but">ADD NEW PRODUCT</div>
        <form action="/addProduct" method="POST" enctype="multipart/form-data">
           <div class="form-row">
              <div class="input-data">
                 <input type="text" name="name" required>
                 <div class="underline"></div>
                 <label for="">Product Name</label>
              </div>
              
              <br>
              <div class="input-data">
                 <div class="hid" id="ione">
                  <input type="text" name="image">
                 </div>
                 
                 <div class="hid" id="itwo">
                   <input type="file" name="filename">
                 </div>
                 
                 <div class="underline"></div>
                    <div class="dropdown">
                          <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                           <b class="head">Product-Image-Type</b>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li id="opone"><a class="dropdown-item" href="#"><em>URL</em></a></li>
                            <li id="optwo"><a class="dropdown-item" href="#">Select-File</a></li>
                          </ul>
                        </div>
              
              </div>
           </div>
           <div class="form-row">
              <div class="input-data">
                 <input type="number" name="actual" required>
                 <div class="underline"></div>
                 <label for="">Product-Actual-Price</label>
              </div>
              <div class="input-data">
                 <input type="number" name="offer" required>
                 <div class="underline"></div>
                 <label for="">Offer-Price</label>
              </div>
            <div class="input-data">
                 <input type="number" name="stock"required>
                 <div class="underline"></div>
                 <label for="">Stock-Number</label>
              </div>
            
           </div>
           <div class="form-row">
              <div class="input-data textarea">
                                   <input type="hidden" id="method" name="keys">
                                   <input type="hidden" id="methods" name="urls">
 

 
                 
                <br>  
                <div >

                 <div class="form-row submit-btn">
                    <div class="input-data" >
                       <div class="inner"></div>
                       
                       <input type="submit" value="Add-Product">
                    </div>
                 </div>
         </div>
              
                 </div>
              </div>
           </div>
        </form>
     
     </div>
   
 <div class="dropdown" style="position:fixed;top:0" >                
 <bold  class="btn btn-outline-primary dropdown-toggle headtwo" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Product-Type</bold>
                    <br>
                
             
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li id="pone"><a class="dropdown-item" href="#">Mustard-Oil</a></li>
    <li id="ptwo"><a class="dropdown-item" href="#" >Soyabean-Oil</a></li>
    <li id="pthree"><a class="dropdown-item" href="#" >Biscuits</a></li>
    <li id="pfour"><a class="dropdown-item" href="#" >Jeera</a></li>
    <li id="pfive"><a class="dropdown-item" href="#" >Salt</a></li>
    <li id="psix"><a class="dropdown-item" href="#" >Eggs</a></li>
    <li id="pseven"><a class="dropdown-item" href="#" >Chilli-Powder</a></li>
    <li id="peight"><a class="dropdown-item" href="#" >Butter</a></li>
    <li id="pnine"><a class="dropdown-item" href="#" >Sugar</a></li>
    <li id="pten"><a class="dropdown-item" href="#" >Ghee</a></li>

  </ul>
</div>
    


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js">
</script>



<script type="text/javascript">
   
  
  
 
  $("#opone").click(function(){

     $("#itwo").addClass("hid")
     $("#ione").removeClass("hid")
     $(".head").text("URL")
     $("#methods").val("URL")

  })
 
  $("#optwo").click(function(){

     $("#itwo").removeClass("hid")
     $("#ione").addClass("hid")
     $(".head").text("Select-File")
     $("#methods").val("Select-File")

  })

 $("#pone").click(function(){

     $(".headtwo").text("Mustard-Oil")
     $("#method").val("mustards")
     $("#butsone").removeClass("hid")

  })

 $("#ptwo").click(function(){

     $(".headtwo").text("Soyabean-Oil")
     $("#method").val("soyabeans")
       $("#butsone").removeClass("hid")

  })

$("#pthree").click(function(){

     $(".headtwo").text("Biscuits")
     $("#method").val("biscuits")
     $("#butsone").removeClass("hid")


  }) 
$("#pfour").click(function(){

     $(".headtwo").text("Jeera")
     $("#method").val("jeeras")
     $("#butsone").removeClass("hid")

  })

$("#pfive").click(function(){

     $(".headtwo").text("Salt")
     $("#method").val("salts")
     $("#butsone").removeClass("hid")

  })
$("#psix").click(function(){

     $(".headtwo").text("Eggs")

     $("#method").val("eggs")
     $("#butsone").removeClass("hid")

  })

$("#pseven").click(function(){

     $(".headtwo").text("Chilli-Powder")
     $("#method").val("powders")
     $("#butsone").removeClass("hid")

  })
$("#peight").click(function(){

     $(".headtwo").text("Butter")
     $("#method").val("butters")
     $("#butsone").removeClass("hid")

  })   
$("#pnine").click(function(){

     $(".headtwo").text("Sugar")
     $("#method").val("sugars")
     $("#butsone").removeClass("hid")

  })
$("#psix").click(function(){

     $(".headtwo").text("Ghee")
     $("#method").val("ghees")
     $("#butsone").removeClass("hid")
  })  

</script>
   </body>
    
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>